export DATABASE_URL="postgresql://localhost:5432/smallblog"
export AWS_ACCESS_KEY="your aws access key"
export AWS_SECRET_KEY="your aws secret key"
export IMAGE_BUCKET="your image bucket"

# if set, the signup page requires a get parameter (name 'token') to be on
# the signup url, with this value.  To disable, comment this out.
export SIGNUP_TOKEN="see docs in config.clj about whether or not you want this"

# define the ports to bind to.  The default port is 3000, and by default SSL
# is not used.  The server is used for ssl redirects (default localhost).
export PORT="3000"
export SSL_PORT="4330"
export SSL_SERVER="localhost"
