/* 14 columns * 30, 12 gutters * 10, -1px each side for border */
.textinput-14 {width: 538px; padding: 5px; border: 1px solid #BBB;}

/* 10 columns * 30, 8 gutters * 10, -1px each side for border */
.textinput-10 {width: 378px; padding: 5px; border: 1px solid #BBB;}

.textinput-dialog {width: 378px; padding: 5px; border: 1px solid #BBB;}

div.section {margin-top: 60px;}

td.img-select-title-td {}
td.img-select-thumb-td {width: 175px;}
td.img-select-button-td {width: 125px;}

table.smalltable {border-collapse: collapse}

div.menu {margin-bottom: 5px}
div.nested-menu {float: right}

div.postdate {font-size: .8em; line-height: .8em;}
h3.posttitle {margin-top: 1em; margin-bottom: 0px;}
div.nested-newpost {float: right;}
