<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta charset="utf-8">
	<title>blog name</title>

	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	
</head>
<body>
<div class="container">
	<br>
	<div id="header" class="prepend-5 span-14 append-5 last">
		<p id="blogname" class="large" style="text-align: center">blog name</p>
	</div>

	<div class="posts prepend-5 span-14 append-5 last">
		<div class="post">
			<div class="title">
				template title
			</div>
			<div class="body">
				template body
			</div>
		</div>
	</div>
</div>
</body>
