<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>about</title>

	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->

	<link href="/css/smallblog.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
	<div class="prepend-5 span-14 append-5 last">
		<p>splen&middot;dous is simple blog software.  <a href="/signup">Give it a try!</a></p>

		<p>Features include:</p>
		<ol>
			<li>Each account can have multiple separate, domain-based blogs</li>
			<li>Markdown formatting</li>
		</ol>

		<p>If you have any questions, <a href="/contact">contact us</a>.</p>
	</div>

</div>
</body>
