<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta charset="utf-8">
	<title>account</title>

	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->

	<link href="/css/smallblog.css" rel="stylesheet" type="text/css">

	<link type="text/css" href="/css/jquery-ui/jquery-ui.css" rel="Stylesheet"/>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
</head>
<body>
<div class="container">
	<div id="menu" class="prepend-5 span-14 append-5 last">
	</div>
	<div class="section prepend-5 span-14 append-5 last">
		<p id="blogname" class="large ui-widget-header" style="text-align: center">account info</p>
		<form method="POST" class="inline">
			<div class="span-4">
				<label for="email">email</label>
			</div>
			<div class="span-10 last">
				<input type="text" name="email" id="email" class="textinput-10"
						readonly="true" value="email@domain.com">
			</div>

			<div class="span-4">
				<label for="oldpw">current password</label>
			</div>
			<div class="span-10 last">
				<input type="password" name="oldpw" id="oldpw"
						class="textinput-10">
			</div>

			<div class="span-4">
				<label for="newpw">new password</label>
			</div>
			<div class="span-10 last">
				<input type="password" name="newpw" id="newpw"
						class="textinput-10">
			</div>

			<div class="span-4">
				<label for="confirmpw">confirm password</label>
			</div>
			<div class="span-10 last">
				<input type="password" name="confirmpw" id="confirmpw"
						class="textinput-10">
			</div>

			<input type="submit" value="submit" style="float: right">
		</form>
	</div>


	<div class="section prepend-5 span-14 append-5 last">
		<p class="large" style="text-align: center" class="large ui-widget-header">images</p>
		<p><a href="/images">images</a></p>
	</div>

	<div class="section prepend-5 span-14 append-5 last">
		<p class="large" style="text-align: center" class="large ui-widget-header">current blogs</p>
		<button id="manage-domains" type="button" style="float: right">manage domains</button>
		<button id="new-blog-dialog" type="button" style="float: right">new blog</button>
	</div>

	<div class="prepend-5 span-14 append-5 last">
		<table>
			<thead>
				<tr>
					<td>name</td>
					<td>domains</td>
				</tr>
			</thead>
			<tbody>
				<tr class="blog">
					<td><a href="/blog/link" class="blogtitle">blog title</a></td>
					<td class="blogdomains"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#domains').dialog({
			autoOpen: false,
			modal: true,
			width: 650,
			height: 'auto',
			title: 'manage domains'
		});

		$('#new-blog').dialog({
			autoOpen: false,
			modal: true,
			width: 650,
			height: 'auto',
			title: 'manage domains'
		});

		$('input:submit, button').button();
		$('#manage-domains').click(function(evt){
			$('#domains').dialog('open');
		});
		$('#new-blog-dialog').click(function(evt){
			$('#new-blog').dialog('open');
		});
		$('#new-blog-cancel').click(function(evt){
			$('#new-blog').dialog('close');
		});
	});
</script>

<div id="domains">
	<form method="POST" class="inline">
		<table>
			<tbody>
				<tr>
					<td><label for="domainname">domain name</label></td>
					<td><input type="text" name="domainname" id="domainname"
						class="textinput-dialog"></td>
				</tr>
			</tbody>
		</table>

		<input type="submit" value="add domain" style="float: right">
	</form>

	<br><br>

	<form method="POST" class="inline">
		<input type="hidden" name="change-domains"></input>
		<table class="smalltable">
			<thead class="ui-widget-header">
				<tr>
					<td>Domain Name</td>
					<td>Blog</td>
					<td>Change</td>
				</tr>
			</thead>
			<tbody class="ui-widget-content">
				<tr class="domain-entry">
					<td class="domain-name"></td>
					<td class="domain-blog-title"></td>
					<td>
						<select class="domain-change">
							<option value=""></option>
							<option class="domain-change"></option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="change domains" style="float: right">
	</form>
</div>

<div id="new-blog">
	<form method="POST" class="inline">
		<table>
			<tbody>
				<tr>
					<td><label for="blogtitle">blog title</label></td>
					<td><input type="text" name="blogtitle" id="blogtitle"
						class="textinput-dialog"></td>
				</tr>
			</tbody>
		</table>

		<button id="new-blog-cancel" type="button" style="float: right">cancel</button>
		<input type="submit" value="submit" style="float: right">
	</form>
</div>

</body>
