<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta charset="utf-8">

	<title>contact</title>

	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->

	<link href="/css/smallblog.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
	<br><br>
	<div id="contact-admin" class="prepend-5 span-14 append-5 last">
		<p>Contact the administrator:</p>
		<form action="contact" method="POST">
			<div class="span-4">
				<label for="email">your email</label>
			</div>
			<div class="span-10 last">
				<input id="email" name="email" type="text" class="textinput-10">
			</div>

			<div class="span-4">
				<label for="confirmemail">confirm your email</label>
			</div>
			<div class="span-10 last">
				<input id="confirmemail" name="confirmemail" type="text"
						class="textinput-10">
			</div>

			<div class="span-4">
				<label for="subject">subject</label>
			</div>
			<div class="span-10 last">
				<input id="subject" name="subject" type="text" class="textinput-10">
			</div>

			<label for="body">email body</label>
			<textarea name="body" id="body" class="textinput-14"></textarea>

			<input type="submit" value="submit" style="float: right">
		</form>
	</div>
</div>
</body>
