<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta charset="utf-8">
	<title>login</title>

	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
</head>
<body>
<div class="container">
	<div id="menu" class="prepend-5 span-14 append-5 last">
	</div>
	<br>
	<div id="header" class="prepend-5 span-14 append-5 last">
		<p class="large" style="text-align: center">login</p>
	</div>

	<form id="login_form" action="/" method="POST">
		<div class="post prepend-5 span-4">
			Email
		</div>
		<div class="span-10 append-5 last">
			<input type="text" name="email" class="textinput">
		</div>

		<div class="post prepend-5 span-4">
			Password
		</div>
		<div class="span-10 append-5 last">
			<input type="password" name="password" class="textinput">
		</div>

		<div class="prepend-9 span-10 append-5 last">
			<input type="submit" value="submit">
		</div>
	</form>
</div>
</body>
