<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>blog name</title>

	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->

	<style type="text/css">
		div.postdate {font-size: .8em; line-height: .8em;}
		div.posttitle {margin-top: 1em;}
	</style>
</head>
<body>
<div class="container">
	<div id="menu" class="prepend-5 span-14 append-5 last">
	</div>
	<br>

	<div id="newpost" class="prepend-5 span-14 append-5 last">
	</div>

	<div id="header" class="prepend-5 span-14 append-5 last">
		<p id="blogname" class="large" style="text-align: center">blog name</p>
	</div>

	<div class="post prepend-5 span-14 append-5 last">
		<div class="posttitle">template title</div>
		<div class="postdate quiet">post date</div>
		<div class="postbody">
			template body
		</div>
	</div>

	<div class="pager prepend-5 span-14 append-5 last">
		<a href="" id="pager-newer">&lt;&lt; Newer</a>
		<span id="pager-text">Page 1 of 1</span>
		<a href="" id="pager-older">Older &gt;&gt;</a>
	</div>

	<div class="pager prepend-5 span-14 append-5 last">
		hosted by splen&middot;dous <a href="/about">about splen&middot;dous</a> | <a href="/contact">contact splen&middot;dous</a>
	</div>
</div>
</body>
