<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>blog name</title>

	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->

	<style type="text/css">
	</style>

	<link href="/css/smallblog.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
	<div id="menu" class="menu prepend-5 span-14 append-5 last">
	</div>

	<div id="newpost" class="prepend-5 span-14 append-5 last">
	</div>

	<div id="header" class="prepend-5 span-14 append-5 last">
		<h2 id="blogname" style="text-align: center">blog name</h2>
	</div>

	<div class="post prepend-5 span-14 append-5 last">
		<h3 class="posttitle">template title</h3>
		<div class="postdate quiet">post date</div>
		<div class="postbody">
			template body
		</div>
	</div>

	<div class="pager quiet prepend-5 span-14 append-5 last" style="margin-top: 40px">
		<a href="" id="pager-newer">&lt;&lt; newer</a>
		<span id="pager-text">page 1 of 1</span>
		<a href="" id="pager-older">older &gt;&gt;</a>
	</div>

	<div class="prepend-5 span-14 append-5 last" style="margin-top: 40px">
		hosted by splen&middot;dous | <a href="/about">about splen&middot;dous</a> | <a href="/contact">contact splen&middot;dous</a>
	</div>
</div>
</body>
