<html>
	<div id="valid-user-menu" style="align: right">
		<a class="accountlink" href="/account">account</a> |
		<a href="/logout">logout</a>
	</div>
	<div id="no-user-menu" style="align: right">
		<a class="loginlink" href="/login">login</a> |
		<a class="signuplink" href="/signup">signup</a>
	</div>
	<div id="newpost" style="align: right">
		<a href="new">new post</a>
	</div>
	<div id="signup-restricted">
		<div class="prepend-5 span-14 append-5 last">
			<p>Signup is currently restricted.  Please contact us to request
			an invitation.  Thanks!</p>
		</div>
	</div>
</html>
